<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>invoicing app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-app="invoicingApp">
    <form action="" method="post" ng-controller="InvoiceFormSetting as invoice"
    class="invoiceFormSetting" novalidate>
      <fieldset class="displayData">
        <legend>Company data:</legend>
        <h1>{{companyName}}</h1>
        <p>{{companyStreet}}</p>
        <p>{{companyLocality}}</p>
        <p>{{companyNIP}}</p>
        <p>{{companyAccount}}</p>
      </fieldset>

      <fieldset>
        <legend>Locality, date:</legend>
        <input type="text" name="locality" placeholder="please write locality">
        <label for="date">date of issue:</label>
        <input type="text" name="dateOfIssue" id="dateOfIssue" placeholder="please write date of issue">
        <label for="saleDate">sale date:</label>
        <input type="text" name="saledate"id="saleDate" placeholder="please write sale date">
        <input type="submit" value="Submit">
      </fieldset>

      <fieldset>
        <legend>Seller data:</legend>
        <label for="companyName">company name:</label>
        <input type="text" name="companyName" id="companyName"
        placeholder="please write the entire name " ng-model="companyName">
        <label for="companyAdress">address:</label>
        <input type="text" name="companyStreet" id="companyAdress"
        placeholder="street name, number" ng-model="companyStreet">
        <input type="text" name="companyLocality"
        placeholder="locality name, zip code, country" ng-model="companyLocality">
        <input type="text" name="companyNIP" placeholder="number NIP"
        ng-model="companyNIP">
        <label for="companyAdress">account number:</label>
        <input type="text" name="companyAccountNumber" id="companyAccountNumber"
        placeholder="please write account number" ng-model="companyAccount">
        <input type="submit" value="Submit">
      </fieldset>

      <fieldset>
        <legend>Buyer data:</legend>
        <label for="companyName">company name:</label>
        <input type="text" name="companyName" id="companyName"
        placeholder="please write the entire name ">
        <label for="companyAdress">address:</label>
        <input type="text" name="companyStreet" id="companyAdress"
        placeholder="street name, number">
        <input type="text" name="companyLocality"
         placeholder="locality name, zip code, country">
        <input type="text" name="companyNIP" placeholder="number NIP">
        <label for="companyAdress">account number:</label>
        <input type="text" name="companyAccountNumber" id="companyAccountNumber"
        placeholder="please write account number">
        <input type="submit" value="Submit">
      </fieldset>
    </form>

    <div class="clearfix"></div>

    <h2 class="invoicePositions">INVOICE POSITIONS</h2>
    <table style="width:60%">
      <tr>
        <th>number</th>
        <th>name of product/service</th>
        <th>unit</th>
        <th>quantity</th>
        <th>unit price - net</th>
        <th>net</th>
        <th colspan="2">tax rate</th>
        <th>gross</th>
      </tr>
      <tr>
        <td>1</td>
        <td>IT service</td>
        <td>
          <select>
            <option value="hour">hour</option>
            <option value="service">service</option>
          </select>
        </td>
        <td><input type="number" class="quantity"></td>
        <td><input type="number" class="net"></td>
        <td>netto</td>
        <td>
          <select>
            <option value="23%">23%</option>
            <option value="8%">8%</option>
            <option value="5%">5%</option>
            <option value="untaxed">untaxed</option>
          </select>
        </td>
        <td>suma</td>
        <td>suma</td>
      </tr>
    </table>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
